{
  "DSN": "ipdb_ajax:password@unix(/var/lib/mysql/mysql.sock)/ipdb",
  "autofg_tag": "autofg",
  "http_port": 8888,
  "www_root": "/opt/ipdb/www",
  "app_location": "/ipdb/",
  "admin_group": "usr_netapp_ipdb_appadmins",
  "fortigates": [
    {
      "rest_key": "generate_on_fortigate",
      "name": "my-nice-fortigate",
      "addr": "https://10.10.10.1"
    }
  ]
}
