.ns {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sel {
    -webkit-touch-callout: initial;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.button {
  border: 1px solid #999999;
  color: #222222;
  cursor: pointer;
  padding: .1em;
  margin: .1em;
  background: #e6e6e6;
  display: inline-block;
  height: 1.1em;
  line-height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover, .button:focus {
  background: #dadada;
}
.button:active {
  background: #e6e6e6;
}
.bigbutton {
  border: 1px solid #999999;
  color: #222222;
  cursor: pointer;
  padding: .5em;
  margin: .5em;
  background: #e6e6e6;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bigbutton:hover, .button:focus {
  background: #dadada;
}
.bigbutton:active {
  background: #e6e6e6;
}
table.dataTable tfoot td {
  padding-left: 10px;
  padding-right: 10px;
}
.indicator {
  border: 1px solid #999999;
  color: #555555;
  padding: .1em;
  margin: .1em;
  display: inline-block;
  position: fixed;
  right: 1em;
  top: 1em;
}
.wsp {
  white-space: pre;
}
.ui-icon.ui-icon-alert {
  background-image: url(lib/jquery-ui/images/ui-icons_cc0000_256x240.png);
}

.wlc_ssids_div,.wlc_idles_div,.aps_div,.ap_clients_div,.idle_aps_div {
  padding-left: 1em;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header, .footer {
  background: silver;
}
.content {
  flex: 1;
  overflow: auto;
  background: pink;
}
