.ui-widget-overlay
{
  opacity: .60 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=60) !important;

  background: rgb(40, 40, 40) !important; /* This will make it darker */
}
TR.bg_colored:nth-child(even)
{
  background: #FFE0FF;
}
TR.bg_colored:nth-child(odd)
{
  background: #E0FFFF;
}
.wspre {
  white-space: pre-line;
}
.vakata-context { 
     z-index:999 !important; 
}
#jstree-marker {
     z-index:999 !important; 
}
.color_table_button {
  color: rgb(79, 129, 189);
}
.color_coral {
  color: coral;
}
.unsaved {
  background-color: yellow;
}
.unsaved:hover {
  background-color: yellow;
}
INPUT[type=checkbox].unsaved {
  outline: 5px solid yellow;
}
INPUT[type=checkbox].unsaved:hover {
  outline: 5px solid yellow;
}
