.ui-widget-overlay
{
  opacity: .60 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=60) !important;

  background: rgb(40, 40, 40) !important; /* This will make it darker */
}
TR.bg_colored:nth-child(even)
{
  background: #FFE0FF;
}
TR.bg_colored:nth-child(odd)
{
  background: #E0FFFF;
}
.wspre {
  white-space: pre-line;
}
.vakata-context { 
     z-index:999 !important; 
}
